<%- include('./partials/sidebar.ejs') %>
<%- include('./partials/errorMessages.ejs') %>

<% if(!userInfo.isAdmin) { %>
    <% const sendRequestRoute = `/requests/create/${userInfo.username}` %>
    <form id="requestform" method="POST" action="<%= sendRequestRoute %>">
        <fieldset>
            <h1>Request Form</h1>
            <table>
                <tr>
                   <td colspan="2">
                      <p>
                         <label>Username</label>
                         <input type="text" name="username" value="<%= userInfo.username %>" readonly /><br/>
                      </p>
                     <p>
                       <label>Name</label>
                   <input type="text" name="fullName" value="<%= userInfo.firstName %> <%= userInfo.lastName%>" readonly /><br/>
                     </p>
                     <p>
                       <label>Type:</label><br/>
                           <select name="requestType">
                           <option value="none">-Choose One Request Type-</option> 
                           <option value="Schedule Change">Schedule Change</option>
                           <option value="Request Day-off">Request Day-off</option>
                           <option>Others</option>
                   </select><br/>
                   </p>
                   <p>
                       <label>Target Date:</label><br/>
                       <input type="date" name="targetDate" value="2021-04-13">
                   </p>
                     </p> 
                      <p>
                      <label>Description</label><br/>
                        <textarea name="requestDescription" rows="5" cols="61" class="required"></textarea>
                      </p>
                   <button type="submit" class="btn btn-secondary">Submit</button>
                   <% const onCancel = `/users/dashboard/${userInfo.username}` %>
                   <a href="<%= onCancel %>">cancel</a>
                   </td>
                </tr>
            </table>
             
        </fieldset>
    </form>
<% } else {%>
    <%- include('./partials/requests.ejs') %> 
<% } %>