<%- include('./partials/sidebar.ejs') %>
<%- include('./partials/viewSwitch.ejs') %>

<% function getDateOfISOWeek(w, y) { %>
<%      var simple = new Date(y, 0, 1 + (w - 1) * 7); %>
<%      var dow = simple.getDay(); %>
<%      var ISOweekStart = simple; %>
<%      if (dow <= 4){ %>
<%          ISOweekStart.setDate(simple.getDate() - simple.getDay() + 1); %>
<%      } else { %>
<%          ISOweekStart.setDate(simple.getDate() + 8 - simple.getDay()); %>
<%      } %>
<%      return ISOweekStart; %>
<% } %>

<% function getWeekOfMonth() { %>
<%      var d = new Date();%>
<%      var date = d.getDate();%>
<%      var day = d.getDay();%>
<%      return Math.ceil((date - 1 - day) / 7);%>
<% } %>


<div class="tabBoxContainer">
    <div id="Week" class="calender">
        <h1 class="scheduleTitle">
            Week <%= getWeekOfMonth() %> - <%= getDateOfISOWeek(userInfo.schedule[0].weekNumber, userInfo.schedule[0].year).toLocaleDateString('default',
                {month: 'long' }) %> - <%= userInfo.schedule[0].year %>
        </h1>
        <div class="tabBar">
            <ul class="tablist">
                <li class="tab">Monday</li>
                <li class="tab">Tuesday</li>
                <li class="tab">Wednesday</li>
                <li class="tab">Thursday</li>
                <li class="tab">Friday</li>
            </ul>
        </div>
        <div class="scheduleContainer">
            <%- include('./partials/scheduleBlock.ejs') %>
        </div>
    </div>

    <div id="Month" class="calender">
        <h1 class="scheduleTitle">
            <%= getDateOfISOWeek(userInfo.schedule[0].weekNumber, userInfo.schedule[0].year).toLocaleDateString('default',
                {month: 'long' }) %> - <%= userInfo.schedule[0].year %>
        </h1>
        <div class="tabBar">
            <ul class="tablist">
                <li class="tab">Week 1</li>
                <li class="tab">Week 2</li>
                <li class="tab">Week 3</li>
                <li class="tab">Week 4</li>
            </ul>
        </div>
        <div class="scheduleContainer">
            
        </div>
    </div>
    
</div>

<script type="text/javascript">
    function openPage(pageName, element, color){
        console.log("clicked")
        var tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        tablinks = document.getElementsByClassName("tab");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        for (var i = 0; i < tablinks.length; i++){
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";

        element.style.backgroundColor = color;
    }

    const defaultView =  document.getElementsByClassName("SwitchButton")[0] //week view
    defaultView.click();
</script>