<%if(requests.length != 0){%>
    <table>
        <tr class="userTableHeader">
          <th>Request Type</th> 
          <th>Target Date</th> 
          <th>Reason</th>
          <th>Date Created</th>
          <th>Status</th>
        </tr>
        <% requests.forEach(element => { %>
            <tr class="userTableRow">
              <td class="userTable-action"><%= element.requestType %></td>
              <td><%= (element.targetDate).toLocaleDateString(); %></td>
              <td><%= element.requestDescription %></td>
              <td><%= (element.dateCreated).toLocaleDateString(); %></td>
              <% if (element.status === "Approve") { %>
                <td class="approvedColor userTable-action"><%= element.status %></td>
              <% } else if(element.status === "Decline"){ %>
                <td class="declinedColor userTable-action"><%= element.status %></td>
              <% } else { %>
                <td class="actionNeededColor userTable-action"><%= element.status %></td>
              <% } %>
            </tr>
        <% }) %>
    </table>
<% } %>