<table>
    <tr class="requestTableHeader">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Position</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    <% user.forEach(element => { %>
        <tr class="requestTableRow">
          <td><%= element.firstName %></td>
          <td><%= element.lastName %></td>
          <td><%= element.jobPosition %></td>
          <td><%= element.email %></td>
          <% if (element.hasAccount === true) { %>
              <td class="userTable-action"><a class="disabledBtn" href="#">Create User Account</a></td>
          <% } else{ %>
            <% let createAccRoute = `/users/create/${element._id}/${userInfo.username}` %>
              <td class="userTable-action"><a class="activeBtn" href="<%= createAccRoute %>">Create User Account</a></td>
          <% } %>
        </tr>
    <% }) %>
</table>